<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
    <event date="2016-06-07">
        <action type="study">Building Microservices - Chapter 4.</action>
    </event>
  <event date="2016-03-01">
    <action type="study">Studying MongoDb</action>
  </event>
  <event date="2016-02-26">
    <action type="watching">Watching video about IDD - Interactive Driven Design</action>
    <references>
      <reference src="http://www.ustream.tv/recorded/61480606" type="source" />
    </references>
</event>
  <event date="2016-02-25">
    <action type="workshop">DevOps Workshop - DAY 3</action>
  </event>
  <event date="2016-02-24">
    <action type="workshop">DevOps Workshop - DAY 2</action>
  </event>
  <event date="2016-02-23">
    <action type="workshop">DevOps Workshop - DAY 1</action>
  </event>
  <event date="2016-02-22">
    <action type="trying">
      My new daily activity log
    </action>
    <references>
      <reference src="https://github.com/joebew42/daily-activity-log" type="source" />
    </references>
  </event>
</events>
